table{
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}
.col-1{background-color:#DDDDDD;}
.col-2{background-color:#17D0D3; width: 17%;}
.col-3{background-color:#8AC149; width: 17%;}
.col-4{background-color:#FECA28; width: 17%;}
.col-5{background-color:#F44236; width: 17%;}
thead{
    border-bottom: 1px solid #ebebeb;
}
tfoot{
    border-top: 1px solid #ebebeb;
}
th{ text-transform: uppercase;}
tr th:first-child{
    color: #666666;
}
tr td:first-child{
    color: #666666;
}
td,th {
    text-align: center;
    padding: 8px;
}
caption{
    text-align: right;
    text-transform: uppercase;
    color: #666666;
    font-weight: 700;
}
span{
    font-weight: 700;
    border: 2px solid #ffffff;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    line-height: 25px;
    font-size: 1.2em;
    display:inline-block;
}